body {
	background-color: lightblue;
	background-image: url(/images/imageregister.jpg);
	bac
}

h2 {
	margin-left: 700px;
}

#p1 {
	margin-left: 700px;
}

.form-control {
	width: 50px;
}


 ul .signout {
 	list-style-type: none;
 	margin-left: 100px;
 	padding: 0;


 }

.signout li {
 	display: inline;
 	text-decoration: none;
	font-family: Tahoma, sans-serif;
	margin-right: 15px;
	font-size: 30px;
	text-decoration: none;
 }


a {
	text-decoration: none;
}

#signup-form {
	margin-left: 700px;
}

#form-signin {
	margin-left: 700px;
}