body {
	background-color: black;
	background-image: url(/images/imageregister.jpg);
	background-repeat: no-repeat;
	
}

 #head2 {
	margin-left: 500px;
	margin-bottom: 70px;
}

 #head1 {
	margin-left: 500px;
	
}

#p1 {
	
}

.form-control {
	width: 50px;
}


 ul {
 	list-style-type: none;
 	margin-left: 0;
 	padding: 0;


 }

.signout li {
	text-align: center;
 	display: inline;
 	text-decoration: none;
	font-family: Tahoma, sans-serif;
	margin-right: 15px;
	font-size: 30px;
	
 }


a {
	text-decoration: none;
	font-family: Tahoma, sans-serif;
	background-color: #fcd271;
}

#signup-form {
	margin-left: 500px;
	float: left;
	margin-right: 30px;
}

#form-signin {
	margin-left: 700px;
	margin-bottom: 40px;
}
input[type=text], input[type=email], input[type=password] {
    border: 2px solid #FCD271;
    border-radius: 4px;
    width: 300px;
    height: 25px;
}

#addcontact {
	color: #FCD271;
}

#add-contacts, #addcontact {
	margin-left: 600px;
}

#importcontact, label, #sendsms {
	color: #FCD271;
}

#import-contacts, #importcontact {
	margin-left: 600px;
}

#sendsms {
	margin-left: 500px;
	margin-top: 300px;
	font-size: 70px;
}