<!DOCTYPE html>
<html>

    <head>
        <title>Contact Manager Application</title>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet/contact.css"> 
    </head>
    <body>
        <h2> welcome, please check your contacts below.</h2>

        <form id="form-signup" method ='POST' action='/addcontacts'>
            <div class="container">
                <label><b>Full name:</b></label><br>
                <input id="full_name" text="text" placeholder="Enter your name" name="full_name" required autofocus><br>
                <label><b>Email:</b></label><br>
                <input id="email" text"text" placeholder="Enter your email address" name="email" required autofocus><br>
                <label><b>Phone number:</b></label><br>
                <input id="number" type="number" placeholder="Enter number" name="password" required> <br>

                <button  id="btn" type="submit">Add to contact</button>
            </div>
        </form>
        <form>
        </form>
    </body>
</html>
