<!DOCTYPE html>
<html>

    <head>
        <title>Contact Manager Application</title>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet/contact.css"> 
    </head>
    <body>
        <ul class="signout">
            <li><a href="/addcontacts">Add Contacts</a></li>
            <li><a href="/home">View Contacts</a></li>
            <li><a href="/sendsms">Send SMS</a></li>
            <li><a href="/import">Import Contacts</a></li>
            <li><a href="/signOut">Logout</a></li>
          </ul>
        <h2> welcome, please see your contacts below.</h2>

        <p> View contacts</p>
        
        

        
          <ul>
            
          </ul>

        <form>
        </form>
    </body>
</html>
