<!DOCTYPE html>
<html>

    <head>
        <title>Contact Manager Application</title>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet/contact.css"> 
    </head>
    <body>
        <h2> welcome, please check your contacts below.</h2>

        <p> view contacts</p>
        
        <ul>

        </ul>

        <form>
        </form>
    </body>
</html>
