<!DOCTYPE html>
<html>

    <head>
        <title>Contact Manager Application</title>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet/contact.css"> 
    </head>
    <body>
        <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/addcontacts">Add Contact</a></li>
            <li><a href="/sendsms">Send SMS</a></li>
            <li><a href="/signOut">Logout</a></li>
          </ul>
        <h2> welcome, please import your contacts below.</h2>

        <form id="add-contacts" method ='POST' action="/import">
            <div class="import">
                <label><b>Please Import your contacts here:</b></label><br>
                <p><input id="file_name" type="file" placeholder="Enter your name" name="file_name"><br></p>
               

                <button id="btn" type="submit">Click to Import Contact</button>
            </div>
        </form>
        <!--<script type="text/javascript" src="/javascript/app.js"></script>-->
    </body>
</html>
