<!DOCTYPE html>
<html>

    <head>
        <title>Contact Manager Application</title>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet/contact.css"> 
    </head>
    <body>
        <ul class="signout">
            
            <li><a href="/home">Home</a></li>
            <li><a href="/addcontacts">Add Contacts</a></li>
            <li><a href="/import">Import Contacts</a></li>
            <li><a href="/sendsms">Send SMS</a></li>
            <li><a href="/import">Import Contacts</a></li>
            <li><a href="/signOut">Logout</a></li>
          </ul>
        <h2>Please signup below</h2>
        
    	<form id="signup-form" method='POST' action="/register">
            <div class="container">
                <label><b>Full name:</b></label><br>
                <input id="full_name" type="text" placeholder="Enter your name" name="full_name" required autofocus><br>
                <label><b>Email:</b></label><br>
                <input id="email" type="email" placeholder="Enter your email address" name="email" required autofocus><br>
                <label><b>Password:</b></label><br>
                <input id="password" type="password" placeholder="Enter Password" name="password" required> <br>

                <button  id="btn" type="submit">Login</button>
            </div>
        </form>


        <p>Already have an account? Please sign-in below</p>
        <h2>Please signin below</h2>
        <form id="form-signin" method='POST' action="/register">
            <div class="container">
                <label><b>Email:</b></label>
                <input id="eMail" text"text" placeholder="Enter email" name="email" required>

                <label><b>Password</b></label>
                <input id="passWord" type="password" placeholder="Enter Password" name="password" required>

                <button  id="btn" type="submit">Login</button>
            </div>
        </form>
        


        <!-- scripts -->
        

        <script type="text/javascript" src="/javascript/app.js"></script>
    </body>
</html>
