<html>
    <head>
    	<title>Login/Signup</title>

    	
        
    	<!--- <link rel="stylesheet" type="text/css" href="/assets/styles.css"> -->
    </head>
    <body>
        <h1>Please signup</h1>
    	<form action="/">
            <div class="container">
                <label><b>Username</b></label>
                <input id="username" type"text" placeholder="Enter Username" name="uname" required>

                <label><b>Password</b></label>
                <input id="newname" type"password" placeholder="Enter Password" name="password" required>

                <button onclick(addNew()) id="btn" type="submit">Login</button>
                

            </div>

            <p id="demo"></p>
        </form>
        <script type="text/javascript"  src="/javascript/app.js"></script>

        <!-- <script>
            

            var button = document.getElementById('btn');

            button.onclick = addNew;



            function addNew() {
                var username = document.getElementById('username').value;

                var newname = document.getElementById('newname').value;
                console.log(username);
                console.log(newname);

            }

        </script> -->
    </body>

</html>